header h4 {
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
}

hr {
    height: 0.002px;
    color: gray;
}

P {
    margin: 2vh 2vh;

}

svg g path path path {
    display: inline;
}

nav {
    display: inline;
    display: flex;
    justify-content: end;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;

}

input {
    background-color: blueviolet;
    color: white;
}

/* nav{
   
    height: 200px;
    width: 100%;
    padding: 40px;
    font-size: 40px;
  

} */
nav ul li a {
    color: white;
    text-decoration: none;
    display: inline;
    justify-content: top;


}

nav ul li {
    display: inline-block;

    padding-left: 60px;

}

nav ul li img {
    display: inline-block;
}

.box4 h3 {
    display: flex;
    justify-content: right;
    margin-right: 20vw;
}

.box4 p {
    display: flex;
    justify-content: right;
    margin-right: 20vw;
    text-align: center;
}

.box3 h3 {
    display: flex;
    justify-content: right;
    margin-right: 20vw;
    text-align: center;
}

.box3 p {
    display: flex;
    justify-content: right;
    margin-right: 20vw;
    text-align: left;

}
.box33{
    display: flex;
    display: inline;
}
footer ul{
    display: flex;
    justify-content: right;
}

footer ul li {
    display: flex;
    justify-content: right;
    color: gray;
    text-decoration: none;
    display: inline;
    margin-right: 10px;
    padding: 12px;


}


